@using Microsoft.AspNetCore.Localization
@using ddPoliglotV6.Infrastructure.Route
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject CommonLocalizationService localizer
@inject IWebHostEnvironment env
@{
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}
<!DOCTYPE html>
<html>
<head>
    @if (!env.IsDevelopment())
    {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EC3DNECP33"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-EC3DNECP33');
        </script>
    }

    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    @if (ViewData["Description"] != null)
    {
        <meta name="description" content="@ViewData["Description"]">
    }

    @if (ViewData["Noindex"] != null)
    {
        <meta name=”robots” content="noindex, follow">
    }
    else
    {
        <meta name=”robots” content="index, follow">
    }

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/plugins/animate/animate.css">
    <link rel="stylesheet" href="~/plugins/aos/aos.css">
    <link rel="stylesheet" href="~/plugins/venobox/venobox.css">

    <!-- Main Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- header -->
    <header class="fixed-top header">
        <!-- top header -->
        <div class="top-header py-2 bg-white">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 text-center text-lg-left">
                        <ul class="list-inline d-inline">
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 text-center text-lg-right">
                        <ul class="list-inline">
                            <vc:culture-switcher />
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <div class="navigation w-100">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <a class="navbar-brand logo-dd" asp-route-culture="@requestCulture.Culture.Name" asp-area="" asp-page="/Index"><img src="/img/img_dd/dd_poliglot_2.svg" style="height:40px" alt="logo"></a>
                    <h1 style="font-size: 32px; color:#ffbc3b"></h1>
                    <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class='nav-item @((ViewData["ActiveMenu"] ?? "").ToString() == MenuItemName.Home.ToString() ? "active" : "")'>
                                <a class="nav-link" asp-route-culture="@requestCulture.Culture.Name" asp-area="" asp-page="/Index">@localizer.Get("xxHome")</a>
                            </li>
                            <li class='nav-item @((ViewData["ActiveMenu"] ?? "").ToString() == MenuItemName.LessonEn.ToString() ? "active" : "")'>
                                <a class="nav-link" asp-route-culture="@requestCulture.Culture.Name" asp-route-lessons-folder-alias="@RoutersTree.GetLessonsFolderAliasName(requestCulture.Culture.Name, "en")" asp-area="" asp-page="/Lessons/List">@localizer.Get("xxEnglish lessons")</a>
                            </li>
                            <li class='nav-item @((ViewData["ActiveMenu"] ?? "").ToString() == MenuItemName.LessonSk.ToString() ? "active" : "")'>
                                <a class="nav-link" asp-route-culture="@requestCulture.Culture.Name" asp-route-lessons-folder-alias="@RoutersTree.GetLessonsFolderAliasName(requestCulture.Culture.Name, "sk")" asp-area="" asp-page="/Lessons/List">@localizer.Get("xxSlovak Lessons")</a>
                            </li>
                            <li class='nav-item @((ViewData["ActiveMenu"] ?? "").ToString() == MenuItemName.ContactUs.ToString() ? "active" : "")'>
                                <a class="nav-link" asp-route-culture="@requestCulture.Culture.Name" asp-area="" asp-page="/Contact">@localizer.Get("xxContact")</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- /header -->

    @RenderBody()

    <!-- footer -->
    <footer>
        <!-- newsletter -->
        <div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
                        <h3 class="text-white">Subscribe Now</h3>
                        <form action="#">
                            <div class="input-wrapper">
                                <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
                                <button type="submit" onclick="alert('Not imlemented yet!!!'); return false;" value="send" class="btn btn-primary">Join</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <div class="footer bg-footer section border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
                        <a class="logo-footer" asp-page="/Index"><img class="img-fluid mb-4" src="/img/img_dd/dd_poliglot_2.svg" style="height:20px" alt="logo"></a>

                        <ul class="list-unstyled">
                            <li class="mb-2">Slovakia</li>
                            <li class="mb-2"></li>
                            <li class="mb-2"></li>
                            <li class="mb-2">ddPologlot@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                        <h4 class="text-white mb-5">COMPANY</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a asp-route-culture="@requestCulture.Culture.Name" asp-area="" asp-page="/Contact">@localizer.Get("xxContact")</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <div class="copyright py-4 bg-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 text-sm-left text-center">
                        <p class="mb-0">
                            Copyright
                            <script>
                                var CurrentYear = new Date().getFullYear()
                                document.write(CurrentYear)
                            </script>
                            © Theme By <a href="https://themefisher.com">themefisher.com</a>
                        </p> . All Rights Reserved.
                    </div>
                    <div class="col-sm-5 text-sm-right text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="https://www.facebook.com/themefisher"><i class="ti-facebook text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="https://www.twitter.com/themefisher"><i class="ti-twitter-alt text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-instagram text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="https://dribbble.com/themefisher"><i class="ti-dribbble text-primary"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->
    @*<script src="~/plugins/jQuery/jquery.min.js"></script>
        <script src="~/plugins/bootstrap/bootstrap.min.js"></script>*@

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/plugins/slick/slick.min.js"></script>
    <script src="~/plugins/aos/aos.js"></script>
    <script src="~/plugins/venobox/venobox.min.js"></script>
    <script src="~/plugins/mixitup/mixitup.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="~/plugins/google-map/gmap.js"></script>

    <!-- Main Script -->
    <script src="~/js/script.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>